<div class="head-page" >
	<h1>{{titulo}}</h1>
	<a *ngIf="identity.role == 'ROLE_ADMIN'" class="btn btn-default" [routerLink] = "['/create-artist']">
		Add Artist
	</a>

	<ul class="pagination pull-right">
		<li><a [routerLink]="['/artists',prev_page]">&laquo;</a></li>
		<li><a [routerLink]="['/artists',next_page]">&raquo;</a></li>
	</ul>
</div>
<div class="clearfix"></div>
<ul class="artist-list" *ngIf="identity">
	<li *ngFor="let artist of artists" class="col-lg-3 artist-item">
		<div class="artist-image">
			<img src="{{url+'get-image-artist/'+artist.image}}" />
		</div>
		<div class="artist-name">	
			<a [routerLink]="['/artist', artist._id]" >
				{{artist.name}}
			</a>
			<div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
				<a [routerLink]="['/edit-artist', artist._id]" class="btn btn-sm btn-warning">Edit</a>
				<a (click)="onDeleteConfirm(artist._id)" class="btn btn-sm btn-danger">Delete</a>
			</div>

			<div class="seguro" *ngIf="confirmado == artist._id">
				<a (click)="onDeleteArtist(artist._id)" class="btn btn-sm btn-danger">Delete</a>
				<a (click)="onCancelArtist()" class="btn btn-sm btn-primary">Cancel</a>
			</div>
		</div>
	</li>
</ul>